body {
    margin: 0;
    direction: rtl;
}

* {
    font-family: 'IranYekan';
    text-decoration: none !important;
    list-style: none;
}

.navbar {
    /* border-bottom: 2px solid #dfe6e9; */
    box-shadow: 0 0 1px 2px #dfe6e9;
}

.navbar .menu li a {
    display: block;
    font-size: 14px;
    height: 48px;
    line-height: 48px;
    border-bottom: 2px solid #fff;
    color: #2d3436;
    transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

.navbar .menu li a:hover {
    border-bottom: 2px solid #0984e3;
    color: #2d3436;
    transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
}

.navbar .menu li.active a {
    border-bottom: 2px solid #d63031;
}

.social-icon li a {
    color: #2d3436;
}

.social-icon li a:hover {
    color: #0984e3;
}

.menu-btn {
    display: none;
}